
AWS_REGION=us-east-1
AWS_PROFILE=default

# Project Configuration
TEAM_NAME=davidm
PROJECT_NAME=rag-project2

# Resource Names
S3_BUCKET=${PROJECT_NAME}-docs-${TEAM_NAME}
SQS_QUEUE_NAME=${PROJECT_NAME}-docs-queue-${TEAM_NAME}
IAM_ROLE_NAME=${PROJECT_NAME}-ec2-role-${TEAM_NAME}
IAM_INSTANCE_PROFILE=${PROJECT_NAME}-ec2-profile-${TEAM_NAME}
OPENSEARCH_DOMAIN=${PROJECT_NAME}-${TEAM_NAME}

# EC2 Configuration
EC2_INSTANCE_TYPE=t2.medium

# The name of an existing EC2 key pair for SSH access.
EC2_KEY_NAME=rag-project2
# CIDR block for SSH access
EC2_SSH_CIDR=0.0.0.0/0

# Ubuntu 22.04 LTS AMI (us-east-1). 
EC2_AMI_ID=ami-0b6c6ebed2801a5cb

# OpenSearch Configuration
OPENSEARCH_INSTANCE_TYPE=t3.small.search
OPENSEARCH_VOLUME_SIZE=10
